---
import { convert } from "html-to-text";
import Status from "../../components/status";
import {
  getMastodonPostsById,
  getMastodonProfile,
  getPreviousPosts,
} from "../../dataHelpers";
import Base from "../../layouts/base.astro";

export function getStaticPaths() {
  return Object.keys(getMastodonPostsById()).map((k) => {
    return { params: { postId: k } };
  });
}

const profileData = getMastodonProfile();
const { postId } = Astro.params;
const postForId = getMastodonPostsById()[postId];
if (!postForId) {
  return Astro.redirect("/404");
}

const posts = getPreviousPosts(postForId);
---

<script>
  document.querySelector("#main")?.scrollIntoView();
</script>
<Base>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{convert(postForId.object.content)}</title>
      <base href={import.meta.env.BASE_URL} />s
    </head>
    <body>
      <main>
        <div>
          <a href="/" class="header-nav">
            ← @{profileData.preferredUsername} Mastodon archive
          </a>
        </div>
        <div class="main-content">
          {
            posts.map((f, index, array) => {
              return (
                <Status
                  isMain={index === array.length - 1}
                  status={f}
                  isExpanded
                  client:load
                />
              );
            })
          }
        </div>
      </main>
    </body>
  </html>
</Base>
