---
import Status from "../components/status";
import { convert } from "html-to-text";
import {
  getMastodonPosts,
  getMastodonPostsById,
  getMastodonProfile,
  isStatus,
  type OutboxPost,
} from "../dataHelpers";
import Base from "../layouts/base.astro";

export function getStaticPaths() {
  return Object.keys(getMastodonPostsById()).map((k) => {
    return { params: { postId: k } };
  });
}

const profileData = getMastodonProfile();
const { postId } = Astro.params;
const postForId = getMastodonPostsById()[postId];
if (!postForId) {
  return Astro.redirect("/404");
}
---

<Base>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{convert(postForId.object.content)}</title>
    </head>
    <body>
      <main>
        <div>
          <a href="/" class="header-nav">
            ← @{profileData.preferredUsername} Mastodon archive
          </a>
        </div>
        <div class="main-content">
          <Status status={postForId} isExpanded />
        </div>
      </main>
    </body>
  </html>
</Base>
