---
import { getProfileData } from "../dataHelpers";
import Base from "../layouts/base.astro";
import avatar from "../../archive-data/avatar.jpg";
import { Image } from "astro:assets";

const json = getProfileData();
---

<Base>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
    </head>
    <body>
      <main>
        <h1>
          <Image
            src={avatar}
            alt=""
            height={40}
            width={40}
            class={"main-avatar"}
          />
          {json.name} @{json.preferredUsername} Mastodon archive
        </h1>
        <div class="profile-bio" set:html={json.summary} />
        <pre>{JSON.stringify(json, null, 2)}</pre>
      </main>
    </body>
  </html>
</Base>
